MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
JWT_SECRET=your-secret-key-minimum-32-chars
MISTRAL_API_KEY=your-mistral-api-key
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX=your-index-name
GROQ_API_KEY=your-groq-api-key
PORT=3000
CLIENT_URL=http://localhost:5173
